@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p, 					/**清除内外边距**/
blockquote,										/*structuralelements结构元素*/
dl,dt,dd,ul,ol,li,
pre,											/*textformattingelements文本格式元素*/
form,fieldset,legend,button,input,textarea,		/*formelements表单元素*/
th,td,
img{
    border:medium none;
    margin:0;
    padding:0;
}
*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.f5f5f5{
    background:#f5f5f5;
}
.bgColor{
    background: #EEEFF3;
}
.bgColorF{
    background: #FFFFFF;
}
/**设置默认字体**/
body,button,input,select,textarea{
    font:12px/1.5'微软雅黑',tahoma,Srial,helvetica,sans-serif;
    font-size:12px\9;
    color:rgb(101,101,101);
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
}
em{
    font-style:normal;
}
/**重置列表元素**/
ul,ol{
    list-style:none;
}
li{
    list-style-type: none;
}
/**重置超链接元素**/
a{
    text-decoration:none;
    color:rgb(101,101,101);
}
img{
    border:0;
}
/**重置表格元素**/
table{
    border-collapse:collapse;
    border-spacing:0;
}


.clearfix:after{
    display:block;
    height:0;
    clear:both;
    content:".";
    visibility:hidden;
    zoom:1;
}
.triangleUp{
    width:0;
    height:0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 6px solid #888888;
    margin-top: 3px;
}
a{
    display:block;
}
/*文字颜色*/
.c333{color: #333333;}
.c777{color: #777777;}
.c999{color: #999999;}


/*文字排版*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:0.2rem;}
.f24{font-size:0.24rem;}
.f26{font-size:0.26rem;}
.f28{font-size:0.28rem;}
.f30{font-size:0.3rem;}
.f32{font-size:0.32rem;}
.f34{font-size:0.34rem;}
.f36{font-size:0.36rem;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh150{line-height:150%;}
.lh180{line-height:180%;}
.lh200{line-height:200%;}
.unl{text-decoration: underline;}
.no_unl{text-decoration: none;}

/*定位*/
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.vm{vertical-align: middle;}
.pr{position: relative;}
.po{position: absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1;}
.none{display:none;}
.hidden{visibility:hidden;}

/*长度高度*/
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w{width:100%;}
.h50{height:50px;}
.h80{height:80px;}
.h100{height:100px;}
.h200{height:200px;}
.h{height:100%;}

/*边距*/
.m10{margin:10px;}
.m15{margin:15px;}
.m30{margin:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:0.3rem;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:0.3rem;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:0.3rem;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb30{padding-bottom:0.3rem;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl12{padding-left:12px;}
.pl15{padding-left:15px;}
.pl30{padding-left:0.3rem;}
.pl35{padding-left:0.35rem;}
.pl40{padding-left:0.4rem;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr12{padding-right:12px;}
.pr15{padding-right:15px;}
.pr30{padding-right:0.3rem;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}


/*overflow*/
.o-y{
    overflow-y: auto;
}


.css3-vmid{
    position:absolute;
    top:0px;
    left:0px;
    transform:translate(0px,-50%);
}

.ellipsis{
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
/*消除灰色区域*/
a,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);}
input {
    border: 0;  // 去除未选中状态边框
    outline: none; // 去除选中状态边框
    background-color: rgba(0, 0, 0, 0);// 透明背景
}
input:focus{
    outline: none;
}
